<!DOCTYPE html>
<html>
<head>
    <title> </title> 
</head>
<body>
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="javascript:history.back();" data-transition="slide-out"> </a>
        <h1 class="title"><strong>{% block title %} {% endblock %}</strong></h1>
    </header>

    <div class="bar bar-standard bar-footer">
        <div class="tab-item" style="text-align: center;"><img src="{{ site_prefix }}/static/ratchet/img/logo_cemig_saude.gif" /></div>
    </div>

    {% block content %}
    <div class="content"> </div>
    {% endblock %}
</body>
</html>