<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title> </title>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="{{ site_prefix }}/static/ratchet/css/ratchet.min.css" />
    <link rel="stylesheet" href="{{ site_prefix }}/static/ratchet/css/ratchet-theme-ios.min.css" />
    <link rel="stylesheet" href="{{ site_prefix }}/static/ratchet/css/saude-custom.css" />
    <script type="text/javascript" src="{{ site_prefix }}/static/ratchet/cordova.js"></script>
    <script type="text/javascript" src="{{ site_prefix }}/static/ratchet/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="{{ site_prefix }}/static/ratchet/js/ratchet.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV7ZAwzLSmKv2s3xSLGa7tk6-1WOTfhoQ"> </script>
</head>
<body>
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="javascript:history.back();" data-transition="slide-out"> </a>
        <h1 class="title"><strong><small>{% block title %} {% endblock %}</small></strong></h1>
    </header>

    <div class="bar bar-standard bar-footer">
        <div class="tab-item" style="text-align: center;"><img src="{{ site_prefix }}/static/ratchet/img/logo_cemig_saude.gif" /></div>
    </div>

    {% block content %}
    <div class="content"> </div>
    {% endblock %}
</body>
</html>