{% extends "default_child.html" %}

{% block title %}Busca{% endblock %}

{% block content %}
<div class="content" id="page-map-search">
    <div class="card">
        <form >
            <input type="text" placeholder="ex: Pediatria" />
            <button class="btn btn-positive btn-block" style="margin-bottom: 0px;">Buscar conveniados</button>
        </form>
    </div>

    <div class="card">
        <div id="search-map" style="height:400px;"></div>
    </div>

    <div id="no-results" style="visibility: none;">
        <h3>Nenhum resultado encontrado</h3>
    </div>
</div>
{% endblock %}