html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
}
.ginfo a {
    text-decoration: none;
}

.ui-listview > li p {
    font-size: .8em;
    margin: .5em 0;
}

.oie {
	font-size: 1em;
}

.table-view-cell .icon {
  color: #007aff;
}