html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
}

#search-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map-canvas-container {
    position: relative;
    height: 80%;
}

.ginfo a {
    text-decoration: none;
}

.ui-listview > li p {
    font-size: .8em;
    margin: .5em 0;
}

.oie {
	font-size: 1em;
}

.table-view-cell .icon {
  color: #007aff;
}