<?xml version='1.0' encoding='utf-8'?>
<widget id="br.org.cemigsaude.convenios" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cemig Saúde</name>
    <description>
        Rede conveniada da Cemig Saúde
    </description>
    <author email="gustavo.rauber@cemig.com.br" href="http://www.cemig.com.br/">
        Cemig S/A
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.ggpht.com" />
    <access origin="*.gstatic.com" />
    <preference name="Orientation" value="portrait" />
</widget>
