<?xml version='1.0' encoding='utf-8'?>
<widget id="br.org.cemigsaude.convenios" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode="2">
    <name>Cemig Saúde</name>
    <description>
        Rede conveniada da Cemig Saúde
    </description>
    <author email="gustavo.rauber@cemig.com.br" href="http://www.cemig.com.br/">
        Cemig S/A
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="file://*"/>
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.ggpht.com" />
    <access origin="*.gstatic.com" />
    <access origin="*.cemig.com.br" />
    <access origin="tel:*" launch-external="yes"/>
    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="sms:*" launch-external="yes"/>
    <access origin="market:*" launch-external="yes"/>
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <icon src="www/img/icon_36.png"  density="ldpi" />
        <icon src="www/img/icon_48.png"  density="mdpi" />
        <icon src="www/img/icon_72.png"  density="hdpi" />
        <icon src="www/img/icon_96.png"  density="xhdpi" />
        <icon src="www/img/icon_180.png" density="xxhdpi" />
        <icon src="www/img/icon_192.png" density="xxxhdpi" />
    </platform>

</widget>
