<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />        
  <meta charset="utf-8" />
  <title>Cemig Saúde</title>
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="stylesheet" href="{{ site_prefix }}/static/css/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="{{ site_prefix }}/static/css/jquery.mobile.icons-1.4.5.min.css" />
  <link rel="stylesheet" href="{{ site_prefix }}/static/css/saude.min.css" />
  <link rel="icon" sizes="192x192" href="{{ site_prefix }}/static/imgs/icon_192.png" />
  <link rel="icon" sizes="128x128" href="{{ site_prefix }}/static/imgs/icon_128.png" />
  <link rel="apple-touch-icon" href="{{ site_prefix }}/static/imgs/icon.png" />  
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site_prefix }}/static/imgs/icon_72.png" />  
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site_prefix }}/static/imgs/icon.png" />  
  <style>
    html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }
    .ginfo a {
        text-decoration: none;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="{{ site_prefix }}/static/js/jquery.mobile-1.4.5.min.js"></script>  
</head>
<body>
  <div data-role="page" id="{% block page_id %}index-page{% endblock %}">
      <div data-role="header" data-add-back-btn="true" data-back-btn-text="Voltar">
      {% block header %}
          <h1>Cemig Saúde</h1>
      {% endblock %}
      </div>
      <div role="content" class="ui-content">
      {% block content %}
          <ul data-role="listview">
              <li><a href="{{ site_prefix }}/map/">Busca</a></li>
              <li><a href="{{ site_prefix }}/list/">Listagem por Especialidade</a></li>
          </ul>
      {% endblock %}
      </div>
      <div data-role="footer">
      {% block footer %}
          <div style="text-align: center;"><img src="{{ site_prefix }}/static/imgs/logo_cemig_saude.gif" /></div>
      {% endblock %}
      </div>
     
      {% block javascript %}{% endblock %}
  </div>  
</body>
</html>  