{% extends "index.html" %}

{% block page_id %}list-physicians-page{% endblock %}

{% block header %}
<h1>
{% if specialty_name %}
    {{specialty_name|title}}
{% else %}
    Múltiplas Especialidades
{% endif %}
</h1>
{% endblock %}

{% block content %}
<div class="ui-grid-a">
    <div class="ui-block-a"><a href="#" data-rel="back" id="a-by-distance" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-arrow-d">Distância</a></div>
    <div class="ui-block-b"><a href="#" class="ui-shadow ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-arrow-d">A-Z</a></div>    
</div>
<form>
  <input type="text" data-type="search" id="physician-input" />
</form>
<br />
<ul data-role="listview" data-autodividers="true" data-filter="true" data-input="#physician-input">
    {% for p in physicians %}
        <li><a href="{{ site_prefix }}/show/{{p.id}}/" title="Ver Detalhes">{{p.name|title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).bind("pageshow", "#list-physicians-page", function() {
	$('FORM').on('submit', function(e) {
        e.preventDefault();
	});
});
</script>
{% endblock %}