{% extends "index.html" %}

{% block header %}
<a href="/" data-icon="home">Início</a>
<h1>Especialidades</h1>
{% endblock %}

{% block content %}
<form>
  <input type="text" data-type="search" id="specialty-input" />
</form>
<br />
<ul data-role="listview" data-autodividers="true" data-filter="true" data-input="#specialty-input">
    {% for s in specialties %}
        <li>
            <a href="/list/{{s.id}}/">
                {% if s.specialty %}
                    {{s.specialty|title}}
                {% else %}
                    Múltiplas Especialidades
                {% endif %}
                <span class="ui-li-count">{{s.count}}</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).bind("pageshow", function() {
    $('FORM').on('submit', function(e) {
        e.preventDefault();
    });
});
</script>
{% endblock %}