{% extends "index.html" %}

{% block page_id %}list-physicians-page{% endblock %}

{% block header %}
<h1>Conveniados</h1>
{% endblock %}

{% block content %}
<form>
  <input type="text" data-type="search" id="physician-input" />
</form>
<br />
<ul data-role="listview" data-autodividers="true" data-filter="true" data-input="#physician-input">
    {% for p in physicians %}
        <li><a href="/show/{{p.id}}/" title="Ver Detalhes">{{p.name|title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).bind("pageshow", "#list-physicians-page", function() {
	$('#physician-input').focus();
	
	$('FORM').on('submit', function(e) {
        e.preventDefault();
	});
});
</script>
{% endblock %}