{% extends "index.html" %}

{% block header %}
<a href="/" data-icon="home">Início</a>
<h1>Busca</h1>
{% endblock %}          

{% block content %}
<div class="ui-bar-c ui-corner-all ui-shadow" style="padding: 1em;" id="map-search-page">
    <form id="form" action="#">
        <div class="ui-field-contain" style="border: 0;">
            <label for="search"><strong>Busca</strong></label>
            <input id="search" class="ui-bar-c" type="text" placeholder="ex: Pediatria" />
        </div>
        <div class="ui-field-contain" style="border: 0;">
	        <label for="distance"><strong>Distância máxima (Kms):</strong></label>
	        <input type="range" id="distance" value="5" min="1" max="50" data-highlight="true" data-mini="true" />
        </div>                
        <a id="submit" href="#" data-role="button" data-icon="search" data-corners="true" data-iconpos="right" data-inline="false">Buscar conveniados</a>
        <div id="map-canvas" style="height:400px;"></div>
    </form>
</div>
{% endblock %}    

{% block javascript %}
<script type="text/javascript">
$(document).on("pageinit", function() {	
	
	if ( $(this).find('#map-search-page').length == 0 ) {
		return false;
	}
	
	console.log('pageshow_map');
	
	if (navigator.geolocation) { 
	   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
		 window.latitude = position.coords.latitude;                  
		 window.longitude = position.coords.longitude;
	     var coords = new google.maps.LatLng(window.latitude, window.longitude); 
	     var mapOptions = {
	       zoom: 14,  
	       center: coords
	     };
	     
	     var map = new google.maps.Map(document.getElementById('map-canvas'), 
	             mapOptions);
	     window.map = map;
	   });
	} else {
		window.latitude = -19.932696;
		window.longitude = -43.944035;
		var coords = new google.maps.LatLng(window.latitude, window.longitude);
	    var mapOptions = {
	      zoom: 14,
	      center: coords
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'), 
                window.mapOptions);
        window.map = map;
	}

    window.markers = [];
    window.markersBounds = new google.maps.LatLngBounds();
    
    window.infoWindow = new google.maps.InfoWindow;
    
    var onMarkerClick = function() {
        window.infoWindow.setContent(
            "<div>" + 
            "<h3>"+ this.val.name +"</h3>" +
            "<h4>"+ this.val.specialty +"</h4>" +
            "<p>" + 
                "<br /><b>Tel</b>: " + this.address.phones +
                "<br /><b>Endereço</b>: " + this.address.street +
                "<br />" + this.address.neighborhood +
            "</p>" +
            "</div>"
        );
        window.infoWindow.open(window.map, this);
        window.map.setCenter(this.getPosition());
    };
    
    var performSearch = function(e) {
        e.preventDefault();
        postData = { 
        		q: $('#search').val(), 
        		d: $('#distance').val(),
        		lat: window.latitude,
        		lon: window.longitude
        };
        $.post( "/search", postData, function( data ) {
            for (var i = 0; i < window.markers.length; i++) {
                markers[i].setMap(null);
            }
            window.markers = [];
            window.markersBounds = new google.maps.LatLngBounds();
            $.each(data, function ( index, val ) {                
                for (i=0; i < val.addresses.length; i++) {                      
                    address = val.addresses[i];                     
                    if ( address.geocode != undefined ) {
                        results = address.geocode.results;
                        if (results.length > 0) {                               
                            result = results[0];
                            l = result.geometry.location;
                            position = new google.maps.LatLng(l.lat, l.lng);
                            marker = new google.maps.Marker({
                                position: position,
                                map: window.map
                            });
                            marker.val = val;
                            marker.address = address;
                            google.maps.event.addListener(marker, 'click', 
                                onMarkerClick
                            );
                            window.markers.push(marker);
                            console.log(position);
                            window.markersBounds.extend(position);
                        }
                        console.log(address);
                    }
                }
            });
            
            if (!window.markersBounds.isEmpty()) {
            	window.map.fitBounds(window.markersBounds);	
            } else {
            	// Alert User somehow
            	window.map.setZoom(15);
            }
        });
    };
    
    $('#submit').on({
        click: performSearch        
    });
    
    $('#form').on({        
        submit: performSearch
    });
    
    $('#search').keypress(function(e) {
        if (e.which == 13) {        	
        	performSearch(e);            
        }
    });
});
</script>    
{% endblock %}
