{% extends "index.html" %}
{% load mobile_tags %}

{% block page_id %}physician-page{% endblock %}

{% block header %}
<h1>{{physician.get_name|title}}</h1>
{% endblock %}          

{% block content %}
<div class="ui-bar-c ui-corner-all ui-shadow" style="padding: 0.5em;" id="view-physician-page">
    <table data-role="table" data-mode="reflow" id="physician-data">
        <thead>
	        <tr>
	           <th>Especialidade(s)</th>
	           <th>Registro Profissional</th>
	           {% if physician.get_email %}
	               <th>E-Mail</th>
	           {% endif %}
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	           <td>{{physician.get_specialty|title}}</td>
	           <td>{{physician.get_register}}</td>
	           {% if physician.get_email %}
	               <td><a href="mailto:{{physician.get_email}}">{{physician.get_email}}</a></td>
	           {% endif %}
	        </tr>
	    </tbody>
    </table>
</div>
<br />
<div class="ui-bar-c ui-corner-all ui-shadow" style="padding: 0.5em;">
	<div id="addresses-tab">
	{% if physician.get_addresses|length > 1 %}
	    <div data-role="navbar" id="addresses-navbar">
	        <ul>
	            {% for a in physician.get_addresses %}
	            <li><a href="#address-{{forloop.counter}}" data-role="tab" {% if forloop.counter == 1 %}class="ui-btn-active"{% endif %}>{{a.neighborhood}} / {{a.city|title}}</a>
	            {% endfor %}
	        </ul>
	    </div>	    
	{% endif %}
	{% for a in physician.get_addresses %}
		<div id="address-{{forloop.counter}}" style="padding-top: 10px;">    
		    <table data-role="table" data-mode="reflow" id="physician-data-{{forloop.counter}}">
		        <thead>
		            <tr>
		                <th>Telefone</th>
		                <th>Endereço</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>
		                   {% if a.phone|is_instance_of:"list" %}
		                       {% for phone in a.phone %}
		                       <a href="tel:{{phone}}">{{phone}}</a>&nbsp;
		                       {% endfor %}
		                   {% else %} 
		                   <a href="tel:{{a.phone}}">{{a.phone}}</a>
		                   {% endif %}
		                </td>
		                <td>
		                    <a href="geo:{{a.lat}},{{a.lon}};u=35">{{a.street|title}}, {{a.neighborhood}}, {{a.city|title}}</a>
		                </td>
		            </tr>            
		        </tbody>
		    </table>
		</div>    
	{% endfor %}
	</div>
</div>
<br />
<div class="ui-bar-c ui-corner-all ui-shadow" style="padding: 0.5em;">
    <div id="physician-map" style="height:400px;"></div>
</div>
<br />
<div class="ui-bar-c ui-corner-all ui-shadow" style="padding: 0.5em; display: none;">
    <div id="directions"></div>
</div>
{% endblock %}    

{% block javascript %}
<script type="text/javascript">
$( document ).on( 'mobileinit', function(){
	  $.mobile.loader.prototype.options.text = "loading";
	  $.mobile.loader.prototype.options.textVisible = true;
	  $.mobile.loader.prototype.options.theme = "b";
	  $.mobile.loader.prototype.options.html = "";
});
$(document).on("pageshow", "#physician-page", function(event) {
	$.mobile.loader.prototype.options.text = "loading";
    $.mobile.loader.prototype.options.textVisible = true;
    $.mobile.loader.prototype.options.theme = "b";
    $.mobile.loader.prototype.options.html = "";
	$.mobile.loader( 'show' );
	$.fn.navigateTo = function ( idx ) {
		//@TODO: add processing overlay
		a = $.mobile.loader( 'show' );
		console.info(a);
		if (navigator.geolocation) {
			markerTarget = window.markers[idx];
			console.info(markerTarget);
			
		    navigator.geolocation.getCurrentPosition(function (position) {                                                              
	           window.latitude = position.coords.latitude;                  
	           window.longitude = position.coords.longitude;
	           var coords = new google.maps.LatLng(window.latitude, window.longitude); 
	           
	           if (window.directionsDisplay == undefined) {
	               window.directionsDisplay = new google.maps.DirectionsRenderer();   
	           }
	        
	           var directionsService = new google.maps.DirectionsService();
	        
	           window.directionsDisplay.setMap(window.map);     
	           window.directionsDisplay.setPanel(document.getElementById("directions"));        
	        
	           var request = {
	              origin: coords,
	              destination: markerTarget.getPosition(),
	              travelMode: google.maps.TravelMode.DRIVING
	              // Note that Javascript allows us to access the constant
	              // using square brackets and a string value as its
	              // "property."
	              //travelMode: google.maps.TravelMode[selectedMode]        
	           };
	        
	           directionsService.route(request, function(response, status) {           
	               if (status == google.maps.DirectionsStatus.OK) {             
	                   $('#directions').empty();                
	                   window.directionsDisplay.setDirections(response);
	                   $('#directions').parent().show();
	               }        
	           });      
	       });
	    }
		
		//$.mobile.loading( 'hide' );
		
		return false;
	};
	
	$(function() {
        $( "#addresses-tab" ).tabs();
    });
	
	$('#addresses-navbar a').click(function(e) {		
		href = $(this).attr('href');
		id = href.substring(href.indexOf('-') + 1);
		google.maps.event.trigger(eval("marker" + id), 'click');
	});
	
	if (window.markers != undefined) {
		for (i = 0; i < window.markers.length; i++) {
			window.markers[i].setMap(null);
		}
	}
	
	window.markers = [];
	window.markersBounds = new google.maps.LatLngBounds();
	$('#directions').empty();
	$('#physician-map').empty();    
	
	var myLatLng = null;
	
    {% for addr in physician.get_addresses %}
        {% if forloop.first %}
        myLatLng = new google.maps.LatLng({{addr.lat}}, {{addr.lon}}); 
        var mapOptions = {
          zoom: 15,
          center: myLatLng
        };
        window.map = new google.maps.Map(document.getElementById('physician-map'), mapOptions);    
        {% endif %}        
        
        var contentString{{forloop.counter0}} = '<div class="ginfo">'+
        '<div>'+
        '<h2 class="firstHeading">{{physician.get_name|title}}</h2>'+
        '</div>'+        
        '<div>'+
        '<p><b>Especialidade(s)</b>: {{physician.get_specialty|title}} ' +
        '<br /><b>Endereço</b>: {{addr.street|title}} ' +      
        '<br /><br /><a onClick="$.fn.navigateTo({{forloop.counter0}});">Direções</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="geo:{{addr.lat}},{{addr.lon}};u=35">GPS</a>' +
        '</p>'+
        '</div>'+
        '</div>';

        var infoWindow{{forloop.counter0}} = new google.maps.InfoWindow();
        infoWindow{{forloop.counter0}}.setContent(contentString{{forloop.counter0}});
	    
	    var latlng{{forloop.counter0}} = new google.maps.LatLng({{addr.lat}}, {{addr.lon}});
	    var marker{{forloop.counter0}} = new google.maps.Marker({
	        position: latlng{{forloop.counter0}},
	        map: window.map,
	        title: '{{physician.get_name|title}}'
	    });
	    
	    window.markers.push(marker{{forloop.counter0}});
	    window.markersBounds.extend(latlng{{forloop.counter0}});
	
	    google.maps.event.addListener(marker{{forloop.counter0}}, 'click', function() {
	    	for (i = 0; i < window.markers.length; i++) {
	    		eval("infoWindow" + i).close();
	        }
	        infoWindow{{forloop.counter0}}.open(window.map, marker{{forloop.counter0}});
	        window.map.setCenter(marker{{forloop.counter0}}.getPosition());
	    });	    
    {% endfor %}
    
    {% if physician.num_addresses > 1 %}
    window.map.fitBounds(window.markersBounds);
    {% endif %}
    google.maps.event.trigger(marker0, 'click');    
    
    //google.maps.event.trigger(window.map, 'resize');
    //window.map.setCenter(myLatlng);        
    
});
</script>    
{% endblock %}
